:root {
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --grey: #070d0cd2;
  --main-background: #070D0C;
  --dark-green: #14332F;
  --light-green: #66FFED;
  --pink: #FF336D;
  --lettering: #8A9997;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Outfit', sans-serif;
  background-color: var(--main-background);
}